{% extends 'base.html' %}

{% block content %}


<form action='.' method='POST'>{% csrf_token %} <!-- 'csrf_token' Prevents '/create/Title=New+Product&...' else Django will product a Forbedden 403 page.-->
<!-- From: https://docs.djangoproject.com/en/2.2/ref/csrf/
Cross Site Request Forgery protection¶
    The CSRF middleware and template tag provides easy-to-use protection against Cross Site Request Forgeries (https://www.squarefree.com/securitytips/web-developers.html#CSRF). This type of attack occurs when a malicious website contains a link, a form button or some JavaScript that is intended to perform some action on your website, using the credentials of a logged-in user who visits the malicious site in their browser. A related type of attack, ‘login CSRF’, where an attacking site tricks a user’s browser into logging into a site with someone else’s credentials, is also covered.

    The first defense against CSRF attacks is to ensure that GET requests (and other ‘safe’ methods, as defined by RFC 7231#section-4.2.1[https://tools.ietf.org/html/rfc7231.html#section-4.2.1]) are side effect free.
-->
    {{ form.as_p }}
    <input type='submit' value='Save' />
</form>




{% endblock %}